body {
  background-color: #121212;
  color: #e0e0e0;
  font-size: 1.2rem;
  font-family: Arial;
}
header {
  border-bottom: 3px solid #e0e0e0;
}
.option {
  width: 150px;
  padding: 5px 15px;
  margin: 5px;
  color: #e0e0e0;
  background-color: #1e40af;
  cursor: pointer;
  border: 3px solid #e0e0e0;
  border-radius: 5px;
  font-size: 0.9rem;
}
.option:hover {
  background-color: #244bcc;
}
.option:active {
  background-color: #2d59ea;
}
#next {
  font-size: 1.5rem;
  width: 80px;
  background-color: #e0e0e0;
  border: 3px solid gray;
  font-weight: bold;
  cursor: pointer;
}
#next:hover{
    background-color: #efefef;
}
#next:active{
    background-color: white;
}
